@use '../utilities/variables';


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto";
  background: variables.$primary-text-color;
  color: variables.$primary-text-color;
  margin: 0;

}


ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  aspect-ratio: 3/2;
  object-fit: contain;
}