@use '../utilities/variables';


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
<<<<<<< Updated upstream
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
=======
>>>>>>> Stashed changes

body {
  font-family: "Roboto";
  background: variables.$primary-text-color;
  color: variables.$primary-text-color;
  margin: 0;

}

<<<<<<< Updated upstream
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
=======
>>>>>>> Stashed changes

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

<<<<<<< Updated upstream
.logo {
  display: flex;
}
=======
>>>>>>> Stashed changes
