:root {
  --primary-text-color: rgb(255, 255, 255);
  --secondary-text-color: rgb(0, 0, 0);
  --teritary-text-color: rgba(84, 84, 84, 1);
  --quarternary-text-color: rgba(129, 129, 129, 1);
  --quinary-text-color: rgba(255, 0, 27, 1);
  --accent-color: rgb(255, 107, 8);
  --primary-background-color: rgb(255, 255, 255);
  --secondary-background-color: rgb(247, 247, 247);
}

$primary-text-color: #ffffff;
$secondary-text-color: #545454;
$primary-title-color: #000000;
$secondary-title-color: #ff6b08;
$movie-modal-info-color: #8c8c8c;
$pagination-button-color: #F7F7F7;
$modal-button-color: #ff6b08;
