<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modalButton" data-modal-close aria-label="button to close developer team spotlight modal">
      <svg class="modalButton__closeSvg" width="18px" height="18px">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <h3 class="modal__title">OUR TEAM</h3>
    <!--our-team-section-->
    <section class="team">
      <div class="teamContainer">
        <ul class="team__list">
          <li class="team__item">
            <img src="./images/jose.webp" alt="Jose Gonzales" width="270px" height="200px" />
            <h3 class="team__name">Jose Gonzales</h3>
            <p class="team__text">Team Leader</p>
            <div class="teamIcon__Container">
              <ul class="teamIcon__List">
                <li class="teamIcon__item">
                  <a href="https://github.com/gogonzogo" class="teamSocial__link" target="_blank"
                    aria-label="link to developer Jose github">
                    <svg class="teamSocial__svg" width="20" height="20">
                      <use href="./images/sprite.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="teamIcon__item">
                  <a href="mailto:https:jose.gonzales08@ymail.com//" class="teamSocial__link" target="_blank"
                    aria-label="link to developer Jose email">
                    <svg class="teamSocial__svg" width="20" height="20">
                      <use href="./images/sprite.svg#icon-mail"></use>
                    </svg>
                  </a>
                </li>
                <li class="teamIcon__item">
                  <a href="http://www.linkedin.com/in/jose-gonzales" class="teamSocial__link" target="_blank"
                    aria-label="link to developer Jose linkedin">
                    <svg class="teamSocial__svg" width="20" height="20">
                      <use href="./images/sprite.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="team__item">
            <img src="./images/shanes.webp" alt="Shane Underwood" width="150px" height="200px" />
            <h3 class="team__name">Shane Underwood</h3>
            <p class="team__text">Scrum Master</p>
            <div class="teamIcon__Container">
              <ul class="teamIcon__List">
                <li class="teamIcon__item">
                  <a href="https://github.com/shane-757" class="teamSocial__link" target="_blank"
                    aria-label="link to developer Shane github">
                    <svg class="teamSocial__svg" width="20" height="20">
                      <use href="./images/sprite.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="teamIcon__item">
                  <a href="mailto:https://underwoodshane@ymail.com" class="teamSocial__link" target="_blank"
                    aria-label="link to developer Shane email">
                    <svg class="teamSocial__svg" width="20" height="20">
                      <use href="./images/sprite.svg#icon-mail"></use>
                    </svg>
                  </a>
                </li>
                <li class="teamIcon__item">
                  <a href="https://www.linkedin.com/in/shane-underwood-ab247276/" class="teamSocial__link"
                    target="_blank" aria-label="link to developer Shane linkedin">
                    <svg class="teamSocial__svg" width="20" height="20">
                      <use href="./images/sprite.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="team__item">
            <img src="./images/jim.webp" alt="James Lynch" width="270px" height="200px" />
            <h3 class="team__name">James Lynch</h3>
            <p class="team__text">header, team member modal</p>
            <div class="teamIcon__Container">
              <ul class="teamIcon__List">
                <li class="teamIcon__item">
                  <a href="https://github.com/jiml268" class="teamSocial__link" target="_blank"
                    aria-label="link to developer James github">
                    <svg class="teamSocial__svg" width="20" height="20">
                      <use href="./images/sprite.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="teamIcon__item">
                  <a href="mailto:https://jimlynch268@gmail.com" class="teamSocial__link" target="_blank"
                    aria-label="link to developer James email">
                    <svg class="teamSocial__svg" width="20" height="20">
                      <use href="./images/sprite.svg#icon-mail"></use>
                    </svg>
                  </a>
                </li>
                <li class="teamIcon__item">
                  <a href="https://www.linkedin.com/in/james-lynch-841a4a7b/" class="teamSocial__link" target="_blank"
                    aria-label="link to developer Shane linkedin">
                    <svg class="teamSocial__svg" width="20" height="20">
                      <use href="./images/sprite.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="team__item">
            <!-- <img src="./images/jen.webp" alt="Jen Martinez" width="270px" /> -->
            <img src="./images/jen.webp" alt="Jen Martinez" width="270px" height="200px" />
            <h3 class="team__name">Jen Martinez</h3>
            <p class="team__text">api requests, movie cards</p>
            <div class="teamIcon__Container">
              <ul class="teamIcon__List">
                <li class="teamIcon__item">
                  <a href="https://github.com/itsjenm" class="teamSocial__link" target="_blank"
                    aria-label="link to developer Jen github">
                    <svg class="teamSocial__svg" width="20" height="20">
                      <use href="./images/sprite.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="teamIcon__item">
                  <a href="mailto:https://jmartinez414@gmail.com" class="teamSocial__link" target="_blank"
                    aria-label="link to developer Jen email">
                    <svg class="teamSocial__svg" width="20" height="20">
                      <use href="./images/sprite.svg#icon-mail"></use>
                    </svg>
                  </a>
                </li>
                <li class="teamIcon__item">
                  <a href="https://linkedin.com/in/jenniferm7" class="teamSocial__link" target="_blank"
                    aria-label="link to developer Jen linkedin">
                    <svg class="teamSocial__svg" width="20" height="20">
                      <use href="./images/sprite.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="team__item">
            <img class="team__image" src="./images/anton.webp" alt="Anton Pavlov" width="270px" height="200px" />
            <h3 class="team__name">Anton Pavlov</h3>
            <p class="team__text">footer, modal window</p>
            <div class="teamIcon__Container">
              <ul class="teamIcon__List">
                <li class="teamIcon__item">
                  <a href="https://github.com/AntonPavlov8" class="teamSocial__link" target="_blank"
                    aria-label="link to developer Anton github">
                    <svg class="teamSocial__svg" width="20" height="20">
                      <use href="./images/sprite.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="teamIcon__item">
                  <a href="mailto:https://barsikstd@gmail.com" class="teamSocial__link" target="_blank"
                    aria-label="link to developer Anton email">
                    <svg class="teamSocial__svg" width="20" height="20">
                      <use href="./images/sprite.svg#icon-mail"></use>
                    </svg>
                  </a>
                </li>
                <li class="teamIcon__item">
                  <a href="https://www.linkedin.com/in/anton-pavlov-26a993272/" class="teamSocial__link" target="_blank"
                    aria-label="link to developer Anton linkedin">
                    <svg class="teamSocial__svg" width="20" height="20">
                      <use href="./images/sprite.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="team__item">
            <img src="./images/amira.webp" alt="Amira Ahmed" width="270px" height="200px" />
            <h3 class="team__name">Amira Ahmed</h3>
            <p class="team__text">header, team member modal</p>
            <div class="teamIcon__Container">
              <ul class="teamIcon__List">
                <li class="teamIcon__item">
                  <a href="https://github.com/amira3a" class="teamSocial__link" target="_blank"
                    aria-label="link to developer Amira github">
                    <svg class="teamSocial__svg" width="20" height="20">
                      <use href="./images/sprite.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="teamIcon__item">
                  <a href="mailto:https://amira3a2780@yahoo.com" class="teamSocial__link" target="_blank"
                    aria-label="link to developer Amira email">
                    <svg class="teamSocial__svg" width="20" height="20">
                      <use href="./images/sprite.svg#icon-mail"></use>
                    </svg>
                  </a>
                </li>
                <li class="teamIcon__item">
                  <a href="https://www.linkedin.com/in/amira-a-6b482529" class="teamSocial__link" target="_blank"
                    aria-label="link to developer Amira linkedin">
                    <svg class="teamSocial__svg" width="20" height="20">
                      <use href="./images/sprite.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
<script src="./js/modal.js"></script>