<div class="movie-modal__overlay is-hidden">
    <div class="movie-modal__container">
        <div class="movie-modal__content">
            <img class='modal-movie-poster' src="https://placehold.co/240x350" alt="">
            <div>
                <p class="movie-name">Name</p>
                <div class="movie-info-block">
                </div>

                <p class="movie-about-header">ABOUT</p>
                <p class="movie-about-description"></p>

                <div class="buttons-block">
                    <div class="add-to-watched">add to Watched</div>
                    <div class="add-to-queue">add to queue</div>
                </div>
            </div>

            <div class="close-button">✕</div>
        </div>

    </div>
</div>