<div class="pagination-div">
    <button class="previousPageButton" >
        <svg class="pagination__leftArrSvg" width="16px" height="16px">
            <use href="./images/paginationArrows.svg#icon-arrow-left-1"></use>
          </svg>
    </button>
    <button class="current"></button>
    <button class="nextPageButton">
        <svg class="pagination__rightArrSvg" width="16px" height="16px">
            <use href="./images/paginationArrows.svg#icon-arrow-right-1"></use>
          </svg>
    </button>
</div>