@use '../utilities/variables';

.library_button {
    color: white;
    background: none;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    text-transform: uppercase;
}

.header__buttons-container {
    display: none;
    justify-content: center;
}

.library__button-queue {
    padding: 13px 44px;
}

.library__button-watched {
    padding: 14px 36px;
    margin-right: 20px;
}

.active-btn {
    background-color: var(--accent-color);
    box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
    border: none;
}