@use '../utilities/variables';

.header__form-container {
  display: flex;
  justify-content: center;
}

.header__form {
  display: flex;
  justify-content: center;
}

.header__input {
  width: 280px;
  border-style: hidden;
  border-bottom: 0.5px solid #ffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: variables.$primary-text-color;
  background: transparent;

}

.header__svg {

  display: flex;
  margin-left: -15px;
  margin-bottom: -15px;
}

.header__no-match {
  display: none;
}


.header__no-match-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #FF001B;
}