@use '../utilities/variables';
<<<<<<< Updated upstream
@use '../base/global';
=======

>>>>>>> Stashed changes

.header {
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    background-size: cover;
    width: 100%;
    height: 230px;
<<<<<<< Updated upstream

    &__container {
        padding: 46px 20px 97px 20px;
    }

    &__bar {
=======
}  

.header__container {
        padding: 46px 20px 97px 20px;
    }

 .header__bar {
>>>>>>> Stashed changes

        display: flex;
        justify-content: space-between;
    }

<<<<<<< Updated upstream
    &__logo {
=======
  .header__logo {
>>>>>>> Stashed changes
        display: none;
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        color: variables.$primary-text-color;
        margin-right: 303px;
        margin-left: 10px;

    }

<<<<<<< Updated upstream
    &__filmSvg {
=======
        .header__filmSvg {
>>>>>>> Stashed changes
        display: flex;
        fill: variables.$primary-text-color;


    }

<<<<<<< Updated upstream
    &__form {
=======
        .header__form {
>>>>>>> Stashed changes
        padding-top: 41px;
        display: flex;
        justify-content: center;
    }

<<<<<<< Updated upstream
    &__input {
=======
        .header__input {
>>>>>>> Stashed changes
        width: 280px;
        border-style: hidden;
        border-bottom: 0.5px solid #ffff;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: variables.$primary-text-color;
        background: transparent;

    }

<<<<<<< Updated upstream
    &__seSvg {

        display: flex;
        //margin-left: 268px;
        margin-bottom: -15px;
    }

}
=======
        .header__seSvg {

        display: flex;
        margin-left: -15px;
        margin-bottom: -15px;
    }


>>>>>>> Stashed changes

.header__no-match{
    display:  none;
}

.header__button{
    display: none;
        flex-direction: row;
            justify-content: center;
}

<<<<<<< Updated upstream
.library_button{
    color: white;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    padding: 13px 36px;
    text-transform: uppercase;
}
=======
>>>>>>> Stashed changes

.library_button:not(:last-child) {
margin-right: 20px;
}

.header__no-match-text{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
    
        color: #FF001B;
}

.header__list {
    padding-top: 12px;
    display: flex;
}

.header__item:not(:last-child) {
    padding-right: 39px;

}

.header__link {
    display: flex;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: variables.$primary-text-color;
    transition-property: color;


}

.headerCurrent__link {
    position: relative;
    color: variables.$primary-text-color;
<<<<<<< Updated upstream


    &::after {
=======
}

        .headerCurrent__link::after {
>>>>>>> Stashed changes
        position: absolute;
        content: "";
        width: 34px;
        height: 3px;
        background: variables.$secondary-title-color;
        top: 15px;
        left: 0px;

    }
<<<<<<< Updated upstream
}
=======

>>>>>>> Stashed changes

.logos {
    display: flex;
}

<<<<<<< Updated upstream
@media screen and (min-width: 320px) and (max-width: 767px) {
=======
@media screen and (min-width: 480px)  {
>>>>>>> Stashed changes
    .header__input {
            width: 280px;
    }
    .header {

        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/header-mob.jpg);
<<<<<<< Updated upstream

=======
        margin-bottom: 20px;
>>>>>>> Stashed changes
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .header {
                background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/header-mob@2x.jpg);
            }
        }
    }
}

<<<<<<< Updated upstream
@media screen and (min-width: 768px) and (max-width: 1023px) {
=======
@media screen and (min-width: 768px)  {
>>>>>>> Stashed changes
.header__input {
        width: 336px;
    }
    .header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/header-ta.jpg);
<<<<<<< Updated upstream

=======
margin-bottom: 60px;
        &__container {
                padding: 46px 75px 97px 70px;
            }
>>>>>>> Stashed changes
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .header {
                background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/header-ta@2x.jpg);
            }
        }

        &__logo {
            display: flex;
        }

    }
}

@media screen and (min-width: 1024px) {
    .header__input {
            width: 336px;
        }
    .header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/header-co.jpg);
<<<<<<< Updated upstream

=======
    &__container {
        padding: 46px 75px 97px 70px;
    }
>>>>>>> Stashed changes
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .header {
                background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/header-co@2x.jpg);
            }
        }

        &__logo {
            display: flex;
        }
    }
}